.idea/
node_modules/
bower_components/
#static/build
ENV/
sengridapikey.txt
# Elastic Beanstalk Files

.elasticbeanstalk/*

!.elasticbeanstalk/*.cfg.yml

!.elasticbeanstalk/*.global.yml

