container_commands:
  Adownloadnode:
    command: "curl --silent --location https://rpm.nodesource.com/setup_5.x | bash -"
  Binstallnode:
    command: "yum -y install nodejs"
  Cnpminstall:
    command: "npm install"
  Dinstallbower:
    command: "npm install bower"
  Ebowerinstall:
    command: "bower install"
  Fbundlecode:
    command: "npm build"
