container_commands:
  01downloadnode:
    command: "curl --silent --location https://rpm.nodesource.com/setup_5.x | bash -"
  02installnode:
    command: "yum -y install nodejs"
  03npminstall:
    command: "npm install"
  04installbower:
    command: "npm install -g bower"
  05installgit:
    command: "yum -y install git"
  06bowerinstall:
    command: "bower install --allow-root"
  07bundlecode:
    command: "npm start"
  08stopbundle:
    command: "^C"
