container_commands:
  downloadnode:
    command: "curl --silent --location https://rpm.nodesource.com/setup_5.x | bash -"
  installnode:
    command: "yum -y install nodejs"
  npminstall:
    command: "npm install"
  installbower:
    command: "npm install -g bower"
  bowerinstall:
    command: "bower install"
  bundlecode:
    command: "npm build"
