<div id="audio-container">
     <div class="row small-12">
    <div class="small-12">
      <div class="top-bar">
        <div class="top-bar-title">
          <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
            <button class="menu-icon light" type="button" data-toggle></button>
          </span>
          <a id="headerText" data-menu="index">Creative Failure</a>
        </div>
        <div id="responsive-menu">
          <div class="top-bar-right">
            <ul class="dropdown menu" data-dropdown-menu>
              <li>
                <a href="#head-pad">Audio</a>
                <ul class="menu vertical">
                  <li><a href="#downLink">Credits</a></li>
                  <li><a href="#pricingLink">Pricing</a></li>
                </ul>
              </li>
              <li><a class="pageTransition" data-menu="design">Design</a></li>
              <li><a data-toggle="contact-form" id="email" alt="Email">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>


      <div id="head-pad" class="audio-sect sect small-12">
        <iframe id="soundCloudPlayer" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/233287564%3Fsecret_token%3Ds-rTxK5&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
        <div class="sc-text small-12" ><p>Soundcloud Loading...</p></div>
        <!-- <div class="arrow small-12">
          <span class="hvr-bob"><div class="cborder"><a href="#downLink"><img src="../static/img/arrow-down-cream.svg" alt="Down Arrow"></a></div></span>
        </div> -->
      </div>

      <div id="downLink" class="sect rust row small-12 align-middle">
        <div class="small-12 medium-12 large-6">
          <h1>Folks I've Had The Pleasure To Work With</h1>
        </div>
        <div class="small-12 medium-12 large-6 row">
          <div class="small-12 medium-6 testimonial">
            <div class="circular" style="background: url(http://i.imgur.com/T1RQur9.jpg) no-repeat; background-size: cover;"></div>
            <p>"Bzzzzzzzzzzzz Bzzzz Bzzzzzz"</p>
            <p>-This Bee</p>
          </div>
          <div class="small-12 medium-6 testimonial">
            <div class="circular" style="background: url(http://i.imgur.com/8ohYk.jpg) no-repeat; background-size: cover;"></div>
            <p>"People scare me so I hide in water"</p>
            <p>-Wet Dude</p>
          </div>
          <div class="small-12 medium-6 testimonial">
            <div class="circular" style="background: url(http://i.imgur.com/WgUs4.jpg) no-repeat; background-size: cover;"></div>
            <p>"It's dusty in here"</p>
            <p>-Needs a Shower</p>
          </div>
          <div class="small-12 medium-6 testimonial">
            <div class="circular" style="background: url(http://i.imgur.com/c7fwB.jpg) no-repeat; background-size: cover;"></div>
            <p>"I'm the elephant man"</p>
            <p>-Phil</p>
          </div>
        </div>
      </div>

      <div id="pricingLink" class="row sect green align-middle small-12">
        <div class="small-12 medium-12 large-6">
          <h1>
            Pricing
          </h1>
        </div>
        <div class="small-12 medium-12 large-6">
          <p>
            I am more interested in being a part of your creative process than a billable invoice, so let's sit down together and figure out what fits best for your ideas. For clarity, here is a good foothold to understand the rates I charge for audio work.
          </p>
          <table>
            <tr>
              <td>Tracking / Overdub Day rate (10 hours):</td>
              <td>$250</td>
            </tr>
            <tr>
              <td>Hourly rate:</td>
              <td>$35/hr</td>
            </tr>
            <tr>
              <td>Mixing:</td>
              <td>$175/song</td>
            </tr>
            <tr>
              <td>Mastering:</td>
              <td>$75/song</td>
            </tr>
          </table>

          <div class="row small-12">
            <p>
              Anything else: let's figure something out what works for you and if I'm a good fit.
            </p>
            <p>
              You might have a whole project in mind and the idea might be a moving target -- I'm more interested in understanding what you are hoping to make. I'll even buy your coffee (!) if we sit down to work something out.
            </p>
          </div>
        </div>


      </div>
      <div class="contactSect row align-middle">
        <div class="small-12 columns"><a data-toggle="contact-form" class="cf-button">Let's Talk!</a></div>
      </div>

      <!-- Footer -->
      <footer class="footer">
        <div class="row full-width">

          <div class="small-12 medium-4 large-6 columns">
            <i class="fi-html5"></i>
            <p>
              Blog post-ironic literally leggings, try-hard banh mi gochujang
              fashion axe marfa man braid cray salvia. Food truck flannel
              letterpress, gluten-free kogi viral pour-over man braid chartreuse
              squid occupy. Butcher migas lumbersexual, mixtape chillwave
              knausgaard lo-fi beard hashtag keytar pinterest gluten-free.
            </p>
            <p>
              Copyright © Creative Failure 2016. All Rights Reserved
            </p>
          </div>
          <div class="small-6 medium-4 large-3 columns">
            <h4>See What I Do</h4>
            <ul class="footer-links">
              <li><a href="#head-pad">Audio</a></li>
              <li><a class="pageTransition" data-menu="design">Design</a></li>
            <ul>
          </div>
          <div class="small-6 medium-4 large-3 columns">
            <h4>Let's Talk</h4>
            <ul class="footer-links">
              <li><a data-toggle="contact-form" id="email" alt="Email"><img src="../static/img/email-cream.svg" id="email" alt="Email"></a></li>
            <ul>
          </div>
        </div>
      </footer>
    </div>
</div>
