<div id="audio-container">
     <div class="row small-12">
      <div id="cream" class="head small-12">
        <ul>
          <li><a href="#">Audio</a></li>
          <li><a href="#">Design</a></li>
          <li><a href="#">Credits</a></li>
        </ul>
        <a href="#"><img src="../static/img/email-blue.svg" id="email-head" alt="Email"></a>
      </div>
      <div id="blue" class="sect head-pad small-12">
        <p>Soundcloud Plugin Screen</p>
        <div class="arrow small-12">
          <span class="hvr-bob"><img src="../static/img/arrow-down-cream.svg" alt="Down Arrow"></span>
        </div>
      </div>
      <div id="rust" class="sect row small-12 align-middle">
        <div class="medium-12 large-6">
          <h1>
            Clients We've Worked With
          </h1>
        </div>
        <div class="medium-12 large-6">
          <p>
            Clients We've Worked For
            </br>
            Clients We've Worked For
            </br>
            Clients We've Worked For
            </br>
            Clients We've Worked For
            </br>
            Clients We've Worked For
            </br>
            Clients We've Worked For
            </br>
          </p>
        </div>
      </div>
      <div id="green" class="sect small-12">
        <p>Pricing</p>
      </div>
      <div id="rust" class="sect small-12">
        <p>Contact Me</p>
      </div>
      <div class="foot row small-12">

        <div id="cream" class="small-12 blue-top medium-4">
        </div>
        <div id="blue" class="small-12 cream-top medium-4">
        </div>
        <div id="cream" class="small-12 blue-top medium-4">
        </div>

      </div>
    </div>
</div>