<div id="audio-container">
     <div class="row small-12">
       <!--
      <div id="cream" class="head small-12">
        <ul>
          <li><a href="#">Audio</a></li>
          <li><a href="#">Design</a></li>
          <li><a href="#">Credits</a></li>
        </ul>
        <a href="#"><img src="../static/img/email-blue.svg" id="email-head" alt="Email"></a>
      </div>
    -->
    <div class="small-12">
      <div class="top-bar">
        <div class="top-bar-title">
          <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
            <button class="menu-icon dark" type="button" data-toggle></button>
          </span>
          <a href="/"><h2>Creative Failure</h2></a>
        </div>
        <div id="responsive-menu">
          <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
              <li>
                <a href="#">One</a>
                <ul class="menu vertical">
                  <li><a href="#">One</a></li>
                  <li><a href="#">Two</a></li>
                  <li><a href="#">Three</a></li>
                </ul>
              </li>
              <li><a href="#">Two</a></li>
              <li><a href="#">Three</a></li>
            </ul>
          </div>
          <div class="top-bar-right">
            <ul class="dropdown menu" data-dropdown-menu>
              <li>
                <a href="#">One</a>
                <ul class="menu vertical">
                  <li><a href="#">One</a></li>
                  <li><a href="#">Two</a></li>
                  <li><a href="#">Three</a></li>
                </ul>
              </li>
              <li><a href="#">Two</a></li>
              <li><a href="#">Three</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>


      <div id="head-pad" class="sect small-12">
        <iframe scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/214576849&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
        <div class="arrow small-12">
          <span class="hvr-bob"><div class="cborder"><img src="../static/img/arrow-down-cream.svg" alt="Down Arrow"></div></span>
        </div>
      </div>

      <div id="rust" class="sect row small-12 align-middle">
        <div class="medium-12 large-6">
          <h1>
            Clients We've Worked With
          </h1>
        </div>
        <div class="medium-12 large-6">
          <div class="small-12">

          </div>
          <p>
            Here, have picture of client with name and quote testimonial
            </br>
            Clients We've Worked For
            </br>
            Clients We've Worked For
            </br>
            Clients We've Worked For
            </br>
            Clients We've Worked For
            </br>
            Clients We've Worked For
            </br>
            Clients We've Worked For
            </br>
          </p>
        </div>
      </div>

      <div id="green" class="row sect align-middle small-12">
        <div class="row small-12">
          <p>
            I am more interested in being a part of your creative process rather than a billable invoice. Let's sit down together and figure out what fits best for your ideas. For clarity, here is a good foothold to understand the rates I charge for audio work.
          </p>
          <h1>
            Pricing
          </h1>
        </div>
        <div class="small-6 right">
          <p>DO A TABLE FOR THESE. Tracking / Overdub Day rate (10 hours): </p>
          <p>Hourly rate: </p>
          <p>Mixing: </p>
          <p>Mastering: </p>
        </div>
        <div class="small-6">
          <p>$250</p>
          <p>$35/hr</p>
          <p>$175/song</p>
          <p>$75/song</p>
        </div>
        <div class="row small-12">
          <p>
            Anything else: let's figure something out what works for you and if I'm a good fit.
            </br>
            You might have a whole project in mind and the idea might be a moving target -- I'm more interested in understanding what you are hoping to make. I'll even buy your coffee (!) if we sit down to work something out.
          </p>
        </div>
      </div>
      <div id="rust" class="sect small-12">
        <p>Contact Me</p>
      </div>
      <div class="foot row small-12">

        <div id="cream" class="small-12 blue-top medium-4">
        </div>
        <div id="blue" class="small-12 cream-top medium-4">
        </div>
        <div id="cream" class="small-12 blue-top medium-4">
        </div>

      </div>
    </div>
</div>
