<div id="audio-container">
  <div class="row small-12">
    <div class="top-bar">
      <div class="top-bar-title">
        <span data-responsive-toggle="responsive-menu" data-hide-for="medium">
          <button class="menu-icon light" type="button" data-toggle></button>
        </span>
        <a id="headerText" data-menu="index">Creative Failure</a>
      </div>
      <div id="responsive-menu">
        <div class="top-bar-right">
          <ul class="dropdown menu" data-dropdown-menu>
            <li><a class="pageTransition" data-menu="audio">Audio</a></li>
            <li><a href="design">Design</a>
              <ul class="menu vertical">
                <li><a href="#downLink">Credits</a></li>
              </ul>
            </li>
            <li><a data-toggle="contact-form" id="email" alt="Email">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>


    <div id="head-pad" class="design-grid green small-12">
      <nav id="thumbs">
        <div class="row">
          <div id="no-pad" class="small-12 columns no-pad">
            <a href="../static/img/omnichord.png"><span id="testSpan" style="background-image: url(/static/img/omnichord.png);";><img></span></a>
          </div>
          <div id="no-pad" class="small-12 medium-12 large-6 columns no-pad">
            <a href="../static/img/2016.png"><span id="testSpan" style="background-image: url(/static/img/2016.png);";><img></span></a>
          </div>
          <div id="no-pad" class="small-12 medium-12 large-6 columns no-pad">
            <a href="../static/img/tour.png"><span id="testSpan" style="background-image: url(/static/img/tour.png);";><img></span></a>
          </div>
          <div id="no-pad" class="small-12 columns no-pad">
            <a href="../static/img/pan.png"><span id="testSpan" style="background-image: url(/static/img/pan.png);";><img></span></a>
          </div>
        </div>
      </nav>
      <dialog id="cover">
      		<img src="" alt>
        		<button id="closecover">Close</button>
      </dialog>
    </div>

    <div id="downLink" class="sect green row small-12 align-middle">
      <div class="small-12">
        <h1>
          Packaging design, booklets & posters, digital designs.
        </h1>
      </div>
    </div>

    <div class="contactSect row align-middle">
      <div class="small-12 columns"><a data-toggle="contact-form" id="email" alt="Email" class="cf-button">Contact For Pricing</a></div>
    </div>

    <!-- Footer -->
    <footer class="footer">
      <div class="row full-width">

        <div class="small-12 medium-4 large-6 columns">
          <i class="fi-html5"></i>
          <p>
            "So for your big tree, no use? Then plant it in the wasteland, in emptiness. Walk idly around it, rest under its shadow. No axe or bill prepares its end.  No one will ever cut it down. Useless? You should worry!"
          </p>
          <p>
            Copyright © Creative Failure 2016. All Rights Reserved
          </p>
        </div>
        <div class="small-6 medium-4 large-3 columns">
          <h4>See What I Do</h4>
          <ul class="footer-links">
            <li><a class="pageTransition" data-menu="audio">Audio</a></li>
            <li><a href="#head-pad">Design</a></li>
          <ul>
        </div>
        <div class="small-6 medium-4 large-3 columns">
          <h4>Let's Talk</h4>
          <ul class="footer-links">
            <li><a data-toggle="contact-form" id="email" alt="Email"><img src="../static/img/email-cream.svg" id="email" alt="Email"></a></li>
          <ul>
        </div>
      </div>
    </footer>
  </div>
</div>
