<div id="landing-container">
    <div class="home-container row small-12">
        <div class="top-box small-12">
            <a data-toggle="contact-form"><img src="../static/img/email-cream.svg" id="email" alt="Email"></a>
            <div class="quote-box center small-12"><h3>Click & Drag The Letters</h3></div>
            <canvas id="screen"></canvas>
        </div>
        <div class="row bottom-row">

            <div class="left-box row align-middle small-6">
                <div id="circle1" class="circle center">
                    <div id="incircle1" class="incircle center">
                        <h2>Audio</h2>
                        <div class="center hvr-bob"><img src="../static/img/arrow-down-cream.svg" alt="Down Arrow">
                        </div>
                    </div>
                </div>
                <a href="#" class="fill-div" data-menu="audio"></a>
            </div>

            <div class="right-box row align-middle small-6">
                <div id="circle2" class="circle center">
                    <div id="incircle2" class="incircle center">
                        <h2>Design</h2>
                        <span class="hvr-bob"><img src="../static/img/arrow-down-blue.svg" alt="Down Arrow"></span>
                    </div>
                </div>
                <a href="#" class="fill-div" data-menu="design"></a>
            </div>

        </div>
    </div>
</div>
