<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Creative Failure</title>
    <link href="../static/build/app.css" rel="stylesheet">
</head>
<body>
    <div id="main-content">
        {% include './_contact-form.html' %}
    </div>
  <script src="../static/build/jquery.min.js"></script>
    <script src="../static/build/foundation.min.js"></script>
   <script src="../static/build/motion-ui.min.js"></script>
    <script src="../static/build/bundle.js"></script>
</body>
</html>