<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Design | Creative Failure</title>
  <link href="../static/build/app.css" rel="stylesheet">
</head>
<body>
<div id="main-content">
    <section class="cd-section design visible">
        {% include './_design.html' %}
    </section>
</div>
<script src="../static/build/jquery.min.js"></script>
<script src="../static/build/foundation.min.js"></script>
<script src="../static/build/motion-ui.min.js"></script>
<script src="../static/build/bundle.js"></script>
</body>
</html>
