<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Creative Failure</title>
    <link href="../static/build/app.css" rel="stylesheet">
</head>
<body>
    <div class="home-container row small-12">
        <div class="top-box small-12">
          <img src="../static/img/arrow-down-blue.svg" alt="Down Arrow"> <!-- Placeholder for email -->
          <div class="quote-box center small-12"><h3>Test quote about how awesome he is cause he's cool</h3></div>
          <canvas id="screen"></canvas>
        </div>
        <div class="row bottom-row">

          <div class="left-box row align-middle small-6">
              <div id="circle1" class="circle center">
                <div id="incircle1" class="incircle center">
                  <h2>Audio</h2>
                  <div class="center hvr-bob"><img src="../static/img/arrow-down-cream.svg" alt="Down Arrow"></div>
                </div>
              </div>
          </div>

          <div class="right-box row align-middle small-6">
              <div id="circle2" class="circle center">
                <div id="incircle2" class="incircle center">
                  <h2>Design</h2>
                  <span class="hvr-bob"><img src="../static/img/arrow-down-blue.svg" alt="Down Arrow"></span>
                </div>
              </div>
          </div>

      </div>
    </div>
    <script src="../static/build/jquery.min.js"></script>
    <script src="../static/build/foundation.min.js"></script>
    <script src="../static/build/bundle.js"></script>
    <script src="../static/js/falling.js"></script>
</body>
</html>
