.green{
  background-color: $cf-green;
}
#green{
  background-color: $cf-green;
}
.blue{
  background-color: $cf-blue;
}
#blue{
  background-color: $cf-blue;
}
.rust{
  background-color: $cf-rust;
}
#rust{
  background-color: $cf-rust;
}
#cream{
  background-color: $cf-cream;
}

h2 {
  text-transform: uppercase;
  font-size: 28px!important;
  font-family: Futura;
}
.menu-icon{
  height: 28px!important;
  width: 24px!important;
}
#headerText{
  text-transform: uppercase;
  font-size: 28px !important;
  line-height: 32px;
  padding-left: 20px;
}

#head-pad{
  margin-top: 50px;
  min-height: 90vh;
  padding: 0;
  iframe{
     width: 100%;
     height: 90vh;
  }
  .arrow{
    width: 100%;
    position: absolute;;
    bottom: 20px;
    left: 0;
    a{
      background-color: rgba(0,0,0,.3);
      padding: 22px 10px 18px 10px;
      border-radius: 100px;
    }
  }
}

.blue-top{
  border-top: .7vh solid $cf-blue;
  min-height: 50px;
}

.cream-top{
  border-top: .7vh solid $cf-cream;
  min-height: 50px;
}

@media only screen and (max-width: 645px) {
    .cream-top {
        border-top: .0vh solid $cf-cream;
    }
    .blue-top {
        border-top: .0vh solid $cf-cream;
    }
    .footer{
      #cream{
        background-color: $cf-blue;
      }
    }
}

.top-bar{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: $cf-blue!important;
  height: 50px;

  li{
    background-color: $cf-blue!important;
  }

  a{
    color: $cf-cream;
  }

  img{
    display: block !important;
    margin-left: auto;
    margin-right: auto;
    height: 24px;
    width: 32px;
    margin-top: 4vh;
    z-index: 100;
  }
}

.sect{
  min-height: 90vh;
  position: relative;
  padding: 2vh 2vw;
  p{
    color: $cf-cream;
    font-family: Futura;
    font-size: 20px;
    line-height: 30px;
  }
  h1{
    color: $cf-cream;
    font-family: Futura;
    font-size: 100px;
    text-align: center;
  }
  // .text-center{
  //   text-align: center;
  // }
  .sc-text{
    position: absolute;
    top:43vh;
    z-index: -20;
    width: 100%;
    p{
      color: $cf-rust;
    }
  }
  @media only screen and (max-width: 645px) {
    h1{
      font-size: 55px;
    }
  }

  h2{
    color: $cf-cream;
    font-family: Futura;
    font-size: 32px;
  }
  span{
    width: 40px;
    margin: 0 auto;
    padding-bottom: 10px;
  }
  .arrow{
    width: 100%;
    position: absolute;;
    bottom: 0;
    left: 0;
  }
  .right {
    text-align: right;
  }
  table{
    margin:30px 0px;
  }
  tbody, table, tr, td{
    background-color: $cf-green !important;
    border: none;
    color: $cf-cream;
    tr:nth-child(n+2) {
      border-top: 1px dashed $cf-cream !important;
    }
    td:nth-of-type(2) {
      text-align: right
    }


  }
}

.contactSect{
  min-height: 30vh;
  background-color: $cf-rust !important;
  position: relative;
  padding: 2vh 2vw;
  text-align: center;

  p{
    color: $cf-cream;
    font-family: Futura;
    font-size: 20px;
    line-height: 30px;
  }
  h1{
    color: $cf-cream;
    font-family: Futura;
    font-size: 100px;
    text-align: center;
  }
  @media only screen and (max-width: 645px) {
    h1{
      font-size: 55px;
    }
  }

  h2{
    color: $cf-cream;
    font-family: Futura;
    font-size: 32px;
  }
}
.cf-button{
  display: inline-block;
  color: $cf-cream;
  background: $cf-green;
  font-size: 20px;
  padding: 8px 16px;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition:all 0.2s ease;
  &:hover{
    color: $cf-green;
    background: $cf-cream;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition:all 0.2s ease;
  }
  &:focus{
    color: $cf-blue;
  }
}

.circular {
	width: 200px;
	height: 200px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
  background-size: cover;
  margin: 0 auto;
  margin-bottom: 1vh;
  border: 3px solid $cf-rust;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition:all 0.3s ease;
  &:hover{
    border: 3px solid $cf-cream;
  }
}

.testimonial{
  text-align: center;
  padding: 5vh 0;
}

// footer CSS

.footer {
  background-color: $cf-blue;
  padding: 2rem 4rem;
  text-align: center;
  color: $cf-cream;
  i {
    height: 15px;
    width: 15px;
    font-size: 30px;
  }
}

.footer {
  h4 {
    color: $cf-cream;
    font-size: 1em;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  p, a {
    font-weight: 300;
    font-size: .8em;
    color: $cf-cream;
  }
  li{
    margin-left: -8px;
  }
  #email{
    width: 25px;
  }
}

@media only screen and (min-width: 40.063em) {
  .footer {
    .columns{
      padding-top: 20px;
    }
    .columns:nth-child(n+2) {
      border-left: 1px solid $cf-cream;
    }
  }
}

.footer-links {
  list-style-type: none;
  li {
    margin-top: .5em;
  }
}
