#green{
  background-color: $cf-green;
}
#blue{
  background-color: $cf-blue;
}
#rust{
  background-color: $cf-rust;
}
#cream{
  background-color: $cf-cream;
}

h2 {
  text-transform: uppercase;
  font-size: 28px!important;
  font-family: Futura;
}

#head-pad{
  margin-top: 50px;
  min-height: 90vh;
  padding: 0;
  iframe{
     width: 100%;
     height: 90vh;
  }
  .arrow{
    width: 100%;
    position: absolute;;
    bottom: 0;
    left: 0;
  }
}

.blue-top{
  border-top: .7vh solid $cf-blue;
  min-height: 50px;
}

.cream-top{
  border-top: .7vh solid $cf-cream;
  min-height: 50px;
}

@media only screen and (max-width: 645px) {
    .cream-top {
        border-top: .0vh solid $cf-cream;
    }
    .blue-top {
        border-top: .0vh solid $cf-cream;
    }
    .footer{
      #cream{
        background-color: $cf-blue;
      }
    }
}

.top-bar{
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: $cf-blue!important;
  height: 50px;

  li{
    background-color: $cf-blue!important;
  }

  a{
    color: $cf-cream;
  }
}

.sect{
  min-height: 90vh;
  position: relative;
  padding: 0 2vw;

  p{
    color: $cf-cream;
    font-family: Futura;
    font-size: 20px;
    line-height: 30px;
  }
  h1{
    color: $cf-cream;
    font-family: Futura;
    font-size: 100px;
  }
  h2{
    color: $cf-cream;
    font-family: Futura;
    font-size: 32px;
  }
  span{
    width: 40px;
    margin: 0 auto;
    padding-bottom: 10px;
  }
  .arrow{
    width: 100%;
    position: absolute;;
    bottom: 0;
    left: 0;
  }
  .right {
    text-align: right;
  }
}

.foot{
  min-height: 50px;
}
