#green{
  background-color: $cf-green;
}
#blue{
  background-color: $cf-blue;
}
#rust{
  background-color: $cf-rust;
}
#cream{
  background-color: $cf-cream;
}

.blue-top{
  border-top: .7vh solid $cf-blue;
  min-height: 50px;
}

.cream-top{
  border-top: .7vh solid $cf-cream;
  min-height: 40px;
}

#email-head{
  position: fixed;
  height:30px;
  right: 2vw;
  top: 5px;
}

#email-head:hover{
  top: 6px;
}

.head{
  height: 40px !important;
  position: fixed;
  width: 100%;
  z-index: 100;
  padding: 0 2vw;
  text-align: center;
  li{
    display: inline;
    padding-right: 5vw;
    font-family: Futura;
    font-size: 20px;
    line-height: 40px;
    a{
      color: $cf-blue;
    }
    a:hover{
      color: $cf-rust;
    }
  }
}

.head-pad{
  margin-top: 40px;
}

.sect{
  min-height: 90vh;
  position: relative;
  padding: 0 2vw;

  p{
    color: $cf-cream;
    font-family: Futura;
    font-size: 20px;
    line-height: 50px;
  }
  h1{
    color: $cf-cream;
    font-family: Futura;
    font-size: 100px;
  }
  span{
    width: 40px;
    margin: 0 auto;
    padding-bottom: 10px;
  }
  .arrow{
    width: 100%;
    position: absolute;;
    bottom: 0;
    left: 0;
  }
}

.foot{
  min-height: 10vh;
}
