#contact-form {
  label {
    color: #FFED75;
  }
  h1 {
    color: #FFED75;
  }
  background-color: #081C38;
  button {
    background-color: #C44831;
    color: #FFED75;
  }
  textarea {
    height: 50%;
  }
}