#contact-form {
  label {
    color: #FFED75;
  }
  h1 {
    color: #FFED75;
  }
  background-color: #081C38;
  button {
    color: #FFED75;
  }
  textarea {
    height: 50%;
  }
  .large{
    background-color: $cf-rust;
    &:hover{
      background-color: #FFED75;
      color: $cf-rust;
    }
  }

}
