.cd-section {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 0s 0.5s;
}

.cd-section.visible {
  /* this is the visible/selected section */
  position: relative;
  z-index: 2;
  transform: translateY(0);
  transition: transform 0.5s 0s;
}

.cd-section.overflow-hidden {
  /* this class is used to hide the scrolling bar while a new section is entering the viewport */
  overflow: hidden;
}